<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Inclure les liens de styles de Kendo UI -->
    <link href="https://kendo.cdn.telerik.com/2023.2.606/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2023.2.606/styles/kendo.default.min.css" rel="stylesheet" />

    <!-- Ajouter les scripts de Kendo UI -->
    <script src="https://kendo.cdn.telerik.com/2023.2.606/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.606/js/kendo.all.min.js"></script>

    <!-- Ajouter le script bootstrap.min.js -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
